<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1;text/html;charset=UTF-8">

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript">
    $(document).bind('mobileinit',function(){
    $.mobile.pageLoadErrorMessage = '신호전송';
    })
  </script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>My Room</h1>
  </div>
  <div data-role="main" class="ui-content">
    <form action="/cameraon" method="POST">
    <input type="submit" value="Camera On">
    </form>
    <form action="/cameraoff" method="POST">
    <input type="submit" value="Camera Off">
    </form>
  </div>
    
  <div data-role="footer">
    <h3>Copyright &copy; 2015 by 송호찬</h2>
  </div>

</div> 

</body>
</html>
