<!DOCTYPE html>
<html>
<head>
  <!-- Include meta tag to ensure proper rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1;text/html;charset=UTF-8">
  <script type="text/javascript" src="{{url_for('static', filename='js/jwplayer.js')}}"></script>

<!--
  <link rel="stylesheet" href="//releases.flowplayer.org/6.0.3/skin/minimalist.css">
  <script src="//releases.flowplayer.org/6.0.3/flowplayer.min.js"></script>
-->
</head>
<body>

<div data-role="page" id="pageone">
  <div data-role="header">
    <h1>Result</h1>
    <a href="#" data-icon="arrow-l" data-ajax="false" data-rel="back">Back</a>
  </div>

  <div data-role="main" class="ui-content">
  <p>{{ message }}</p>
      <a href="/inputTV/1" data-role="button" data-inline="true">TV Power</a>
      <a href="/inputTV/2" data-role="button" data-inline="true">Ch +</a>
      <a href="/inputTV/3" data-role="button" data-inline="true">Ch -</a>
      <a href="/inputTV/4" data-role="button" data-inline="true">Vol +</a>
      <a href="/inputTV/5" data-role="button" data-inline="true">Vol -</a>
  </div>
<!--    
    <div class="flowplayer" data-rtmp="rtmp://hochan97.iptime.org/flvplayback">
       <video>
        <source type="video/flash" src="flv:myStream.flv">
        <source type="application/x-mpegURL" src="flv:myStream.flv">
        <source type="video/x-flv" src="flv:myStream.flv">
       </video>
    </div>

  <video controls="controls" autoplay="autoplay" >
      <source src="{{url_for('static', filename='live/stream.m3u8')}}" type="application/x-mpegURL" />
  </video>
-->
<!--rtmp://a.rtmp.youtube.com/live2/hochan97.yucp-bpu9-yzwj-2aec -->
<!--rtmp://192.168.0.12/flvplayback/flv:myStream.flv-->

<div id="video-jwplayer_wrapper" style="position: relative; display: block;">
    <object type="application/x-shockwave-flash" data="{{url_for('static', filename='js/jwplayer.flash.swf')}}"  width="100%" height="100%" bgcolor="#000000" id="video-jwplayer" name="video-jwplayer" tabindex="0">
        <param name="allowfullscreen" value="true"> 
        <param name="allowscriptaccess" value="always">
        <param name="seamlesstabbing" value="true">
        <param name="wmode" value="opaque">
    </object>
    <div id="video-jwplayer_aspect" style="display: none;"></div>
    <div id="video-jwplayer_jwpsrv" style="position: absolute; top: 0px; z-index: 10;"></div>
</div>
    
<script type="text/javascript" src="{{url_for('static', filename='js/jwplayer.js')}}"></script>
<script type="text/javascript">
    $(window).on("resize", methodToFixLayout);
    var docWidth = $(document).width();
    $("#video-jwplayer_wrapper").width(docWidth);
    $("#video-jwplayer_wrapper").height(docWidth*9/16);
    jwplayer('video-jwplayer').setup({
    flashplayer:"{{url_for('static', filename='js/jwplayer.flash.swf')}}"
    , file:"rtmp://hochan97.iptime.org/flvplayback/flv:myStream.flv"
    , autoStart: true
    , rtmp:{
    bufferlength:0.1
    }
    , deliveryType: "streaming"
    , width: "100%"
    , aspectratio: "16:9"
    , player: {
    modes: {
    linear: {
    controls:{
    stream:{
    manage:false
    , enabled: false
    }
    }
    }
    }
    }
    , shows: {
    streamTimer: {
    enabled: true
    , tickRate: 100
    }
    }
    });
    
    function methodToFixLayout( e ) {
        var docWidth = $(document).width();
        $("#video-jwplayer_wrapper").width(docWidth);
        $("#video-jwplayer_wrapper").height(docWidth*9/16);
    }
</script>


  <div data-role="footer">
    <h2>Copyright &copy; 2015 by 송호찬</h2>
  </div>
</div> 

</body>
</html>
